* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color:white;
  padding: 0;
  margin: 0;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem 2rem;

}

.Login{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}


.btn {
  background-color: green;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border-style: double;
}

.navi{
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color:grey;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  top: 0;
  color: white;
  font-size: 20px;
  line-height: 37px;
}

.navi .navs {
  text-decoration: none;
}

.navi .navs:hover{
  border-color: antiquewhite;
}

NavLink{
  text-decoration: none;
}

.details {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 50px; 
  padding-top: 30px;
  border-radius: 10px;
  
}

.imgg{
  flex: 1;
  margin: 10px;
  border-radius: 10px;
}

 img {
  max-width: 100%;
  width: 800px;
  height: 400px;
  border-radius: 10px;
}

 .inner-details {
  margin: 10px; 
  border-radius: 10px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8JwmI4McAoeLd2_BuFkt-O_l3TBLi3TeG3s5vPchuAZkqxf5IybqijcO8EK9wN3_LQoA&usqp=CAU');
  background-size: cover;
  background-repeat: no-repeat;
 
} 

.inner-details > h3, h4{
  padding-right: 20px;
}